@tailwind base;
@tailwind components;
@tailwind utilities;


.playerCard {
    color: white;
    border-radius: 20px;
    border: 1px solid rgba(54,69,98, 0.18);
    padding: 1%;
    margin-top:10px;
    background-color: #27354D;
    background: linear-gradient(
        180deg,
        rgba(54, 69, 98, 0) 10%,
        rgba(54,69,98, 1) 100%
    );
}

.addPlayer {
    display: flex;
    font-size: 15px;
    color: white;
    width: 60px;
    height: 60px;
    border-radius: 30px;
    background-color: rgba(0,0,0,0.5);
    margin-left:20px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    box-shadow: inset -4px -4px 10px #FFFF, inset 4px 4px 10px 1px #FFFF;
}

.app {
    position: absolute;
    background: rgb(63,94,251);
background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
    min-width: 100%;
    min-height: 200%;
}

